<!DOCTYPE html>
<html>
<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="description" content="The NUH is made up of members currently and formerly experiencing homelessness as well as organizers understanding this is a fight for the survival of all the poor and dispossessed in our nation. The power the NUH is proof that we can speak for ourselves, think for ourselves, and organize together to lead not just ourselves but the nation in changing the very system that continues to create homelessness every day in this country.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Design by Eric Schulte, source at https://github.com/eschulte/nuh. -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
</style>
<body class="w3-light-grey">

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-text-dark-gray w3-center" style="padding-top: 2em;">
    <h1 class="w3-jumbo">{{ title }}</h1>
    <img src="img/nuh-ots-crop.jpg">
  </div>
</header>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">NUH</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <!-- TODO: For loop. -->
      <a href="#mission" class="w3-bar-item w3-button">MISSION</a>
      <a href="#events" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Events</a>
      <a href="#locals" class="w3-bar-item w3-button"><i class="fa fa-th"></i> LOCALS</a>
      <a href="#history" class="w3-bar-item w3-button"><i class="fa fa-user"></i> HISTORY</a>
      <a href="#donate" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> DONATE</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <!-- TODO: For loop. -->
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<body>
  {{ content | safe }}
</body>
</html>
