<!DOCTYPE html>
<html>
<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="description" content="The NUH is made up of members currently and formerly experiencing homelessness as well as organizers understanding this is a fight for the survival of all the poor and dispossessed in our nation. The power the NUH is proof that we can speak for ourselves, think for ourselves, and organize together to lead not just ourselves but the nation in changing the very system that continues to create homelessness every day in this country.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Design by Eric Schulte, source at https://github.com/eschulte/nuh. -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
</style>
<body class="w3-light-grey">

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="en w3-display-middle-high w3-text-dark-gray w3-center">
    <h1 class="w3-jumbo">{{ title }}</h1>
  </div>
</header>

</html>
